{% extends "auth_base.html" %}

{% block title %}Вход · SecureOffice{% endblock %}
{% block auth_subtitle %}Кабинет сотрудника{% endblock %}

{% block auth_content %}
<form class="field-grid" method="post">
  <label>
    Логин
    <input name="username" autocomplete="username" required>
  </label>
  <label>
    Пароль
    <input name="password" type="password" autocomplete="current-password" required>
  </label>
  <button class="button primary full" type="submit">Войти</button>
  <a class="button full" href="{{ url_for('activate') }}">Активировать по ключу</a>
</form>
{% endblock %}
